
<p>
  <strong>Clocknum:</strong>
  <%= @leader.clocknum %>
</p>

<p>
  <strong>Name:</strong>
  <%= @leader.Name %>
</p>

<p>
  <strong>Fullcommonname:</strong>
  <%= @leader.fullcommonname %>
</p>

<p>
  <strong>Ci leader:</strong>
  <%= @leader.ci_leader %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @leader.comment %>
</p>

<p>
  <strong>Updatedtime:</strong>
  <%= @leader.updatedtime %>
</p>

<p>
  <strong>Createdtime:</strong>
  <%= @leader.createdtime %>
</p>

<p>
  <strong>Position:</strong>
  <%= @leader.position %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @leader.shift %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @leader.dept %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @leader.Common_Name %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @leader.fullname %>
</p>

<p>
  <strong>Middleproper:</strong>
  <%= @leader.Middleproper %>
</p>

<p>
  <strong>Lastproper:</strong>
  <%= @leader.Lastproper %>
</p>

<p>
  <strong>Firstproper:</strong>
  <%= @leader.Firstproper %>
</p>

<p>
  <strong>First:</strong>
  <%= @leader.First %>
</p>

<p>
  <strong>Middle:</strong>
  <%= @leader.Middle %>
</p>

<p>
  <strong>Last:</strong>
  <%= @leader.Last %>
</p>

<br>
<%= link_to 'Edit', edit_leader_path(@leader), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', leaders_path, class: "btn btn-default" %>
