
<p>
  <strong>Ft:</strong>
  <%= @cilisting1.ft %>
</p>

<p>
  <strong>Project number:</strong>
  <%= @cilisting1.project_number %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @cilisting1.project_description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @cilisting1.owner %>
</p>

<p>
  <strong>Planned timing:</strong>
  <%= @cilisting1.planned_timing %>
</p>

<p>
  <strong>Revised timing:</strong>
  <%= @cilisting1.revised_timing %>
</p>

<p>
  <strong>Estimated cost:</strong>
  <%= @cilisting1.estimated_cost %>
</p>

<p>
  <strong>Savings category:</strong>
  <%= @cilisting1.savings_category %>
</p>

<p>
  <strong>Annual savings dollars:</strong>
  <%= @cilisting1.annual_savings_dollars %>
</p>

<p>
  <strong>Percent complete:</strong>
  <%= @cilisting1.percent_complete %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @cilisting1.comments %>
</p>

<p>
  <strong>Originator:</strong>
  <%= @cilisting1.originator %>
</p>

<p>
  <strong>Team:</strong>
  <%= @cilisting1.team %>
</p>

<p>
  <strong>Documents complete:</strong>
  <%= @cilisting1.documents_complete %>
</p>

<p>
  <strong>One time savings:</strong>
  <%= @cilisting1.one_time_savings %>
</p>

<p>
  <strong>Hard soft savings:</strong>
  <%= @cilisting1.hard_soft_savings %>
</p>

<p>
  <strong>Soft dollars:</strong>
  <%= @cilisting1.soft_dollars %>
</p>

<p>
  <strong>Il1 target date:</strong>
  <%= @cilisting1.il1_target_date %>
</p>

<p>
  <strong>Il2 target date:</strong>
  <%= @cilisting1.il2_target_date %>
</p>

<p>
  <strong>Il3 target date:</strong>
  <%= @cilisting1.il3_target_date %>
</p>

<p>
  <strong>Il4 target date:</strong>
  <%= @cilisting1.il4_target_date %>
</p>

<p>
  <strong>Il5 target date:</strong>
  <%= @cilisting1.il5_target_date %>
</p>

<p>
  <strong>Wc idea date:</strong>
  <%= @cilisting1.wc_idea_date %>
</p>

<p>
  <strong>Actual implementation date:</strong>
  <%= @cilisting1.actual_implementation_date %>
</p>

<p>
  <strong>Enter in wc:</strong>
  <%= @cilisting1.enter_in_wc %>
</p>

<p>
  <strong>Area:</strong>
  <%= @cilisting1.area %>
</p>

<p>
  <strong>Updatedtime:</strong>
  <%= @cilisting1.updatedtime %>
</p>

<p>
  <strong>Id wc:</strong>
  <%= @cilisting1.id_wc %>
</p>

<p>
  <strong>Environmental:</strong>
  <%= @cilisting1.environmental %>
</p>

<p>
  <strong>Ease of implementation:</strong>
  <%= @cilisting1.ease_of_implementation %>
</p>

<p>
  <strong>Submit:</strong>
  <%= @cilisting1.submit %>
</p>

<p>
  <strong>Next steps:</strong>
  <%= @cilisting1.next_steps %>
</p>

<p>
  <strong>Suggestion status:</strong>
  <%= @cilisting1.suggestion_status %>
</p>

<p>
  <strong>Suggestion status updated at:</strong>
  <%= @cilisting1.suggestion_status_updated_at %>
</p>

<p>
  <strong>Group:</strong>
  <%= @cilisting1.group %>
</p>

<p>
  <strong>Metric impact:</strong>
  <%= @cilisting1.metric_impact %>
</p>

<p>
  <strong>Gift2 4 suggestion:</strong>
  <%= @cilisting1.gift2_4_suggestion %>
</p>

<p>
  <strong>Gift 4 suggestion:</strong>
  <%= @cilisting1.gift_4_suggestion %>
</p>

<p>
  <strong>Il current:</strong>
  <%= @cilisting1.il_current %>
</p>

<p>
  <strong>Createdtime:</strong>
  <%= @cilisting1.createdtime %>
</p>

<p>
  <strong>Link:</strong>
  <%= @cilisting1.link %>
</p>

<p>
  <strong>Linkmore:</strong>
  <%= @cilisting1.linkmore %>
</p>

<p>
  <strong>Display:</strong>
  <%= @cilisting1.display %>
</p>

<p>
  <strong>Ciid:</strong>
  <%= @cilisting1.ciid %>
</p>

<br>
<%= link_to 'Edit', edit_cilisting1_path(@cilisting1), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', cilisting1s_path, class: "btn btn-default" %>
