<!DOCTYPE html >
<html>
  <head>
    <meta charset="utf-8">
      <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
          <title><%= Rails.application.class.parent_name %></title>
          <%= stylesheet_link_tag    'application', media: 'all' %>
          <%= javascript_include_tag 'application' %>
          <%= csrf_meta_tags %>
        </meta>
      </meta>
    </meta>
  </head>
  <body class="<%= controller.controller_name %>">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Home (LPA)', root_path, class: 'navbar-brand' %>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li>
              <!-- <%#= link_to 'Products', products_path %> -->
            </li>
          </ul>

          
        <ul class="nav navbar-nav navbar-right">
        
        <li >
        <%= link_to "New LPA", new_survey_path, :class => "btn btn-secondary " %>
        </li>
        <li>
        <%= link_to "Administer", rails_admin.dashboard_path, :class => "btn btn-secondary " %>
        </li>

          <%= render 'devise/menu/login_items' %>
        </ul>
       
        </div>
        


      </div>
    </nav>
    

    <div class="container-fluid">
      <% flash.each do |type, msg| %>
        <div class="alert alert-<%= type == 'alert' ? 'danger' : 'success' %> alert-dismissable" role="alert">
          <button class="close"> .. </button>
          <%= msg if msg.is_a?(String) %>
        </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
